{
  "projects": {
    "default": "tnman-2026"
  },
  "targets": {
    "tnman-2026": {
      "hosting": {
        "planner": [
          "tnman-2026"
        ],
        "portal": [
          "tnman"
        ]
      }
    }
  }
}
